<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Applist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>
	<div class="col-md-4">
		<h1>Apps</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>Versions</th>
		    <th>Actions</th>
		</tr>  
    	<tr th:each = "app : ${apps}">
    		<td th:text="${app.name}"></td>
			<td></td>
			<td>
				<a th:href="@{/apps/addAppVersion/{id}(id=${app.id})}" class="btn btn-success btn-xs">Add Version</a>
				<a th:href="@{/apps/{id}/versions/(id=${app.id})}" class="btn btn-success btn-xs">Versions</a>
				<a th:href="@{/apps/edit/{id}(id=${app.id})}" class="btn btn-success btn-xs">Edit App</a>
				<a th:href="@{/apps/delete/{id}(id=${app.id})}" class="btn btn-success btn-xs">Delete</a>
			</td>
    	</tr>
    </table>
    <a href="apps/add" class="btn btn-success">Add App</a>
	</div>    
</body>
</html>